/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--bs-danger);
  border-radius: 5rem;
}

/* Navbar */
#main-nav {
  transition: background-color 0.4s ease-in-out;
}

#main-nav.navbar-scrolled {
  background-color: var(--bs-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#main-nav.navbar-scrolled .navbar-brand,
#main-nav.navbar-scrolled .nav-link {
  color: var(--bs-dark) !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--bs-danger);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

#main-nav.navbar-scrolled .navbar-toggler {
  color: var(--bs-dark) !important;
}

/* Home */
#home {
  background: url('../img/home3.jpg') no-repeat center center;
  background-size: cover;
}

/* Movies & Coming Soon Sections */
.movie-card-img {
  transition: transform 0.2s linear;
  cursor: pointer;
}

.movie-card-img:hover {
  transform: translateY(-10px);
}

/* news */
.newsletter-form-wrapper {
  max-width: 400px !important;
}
/* news */

/* footer */
.social-icon-custom {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: var(--bs-danger) !important;
  color: var(--bs-white) !important;
  border-color: tomato !important;
}
/* footer */

/* copy */
.copyright span {
  cursor: pointer;
}
/* copy */

/* Resbonsive */
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bs-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-collapse .nav-link {
    color: var(--bs-dark) !important;
  }

  .navbar-collapse .nav-link.active::after {
    width: 100%;
    background-color: var(--bs-danger);
  }
}

@media (max-width: 768px) {
  .home-text h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 472px) {
  .newsletter-form-wrapper .form-control {
    display: none;
  }

  .newsletter-form-wrapper {
    justify-content: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
/* Resbonsive */