/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--bs-danger);
  border-radius: 5rem;
}

/* Navbar */
#main-nav {
  transition: background-color 0.4s ease-in-out;
}

#main-nav.navbar-scrolled {
  background-color: var(--bs-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  color: var(--bs-white) !important;
}

#main-nav.navbar-scrolled .navbar-brand,
#main-nav.navbar-scrolled .nav-link {
  color: var(--bs-dark) !important;
}

.nav-link {
  position: relative;
  color: var(--bs-danger) !important;
  padding-bottom: 0.5rem !important;
  margin: 0 0.5rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--bs-danger);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.navbar-toggler {
  border: none;
  color: var(--bs-white) !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#main-nav.navbar-scrolled .navbar-toggler {
  color: var(--bs-dark) !important;
}

/* Home */
#home {
  background: url('../img/home3.jpg') no-repeat center center;
  background-size: cover;
}

/* Movies & Coming Soon Sections */
.movie-card-img {
  transition: transform 0.2s linear;
  cursor: pointer;
}

.movie-card-img:hover {
  transform: translateY(-10px);
}

/* news */
.newsletter-form-wrapper {
  max-width: 400px !important;
}
/* news */

/* footer */
.social-icon-custom {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.social-icon-custom i {
  font-size: 1.5rem;
}

.social-icons a:hover {
  background-color: var(--bs-danger) !important;
  color: var(--bs-white) !important;
  border-color: tomato !important;
}
/* footer */

/* copy */
.copy {
  text-align: center;
  color: var(--bg-color);
  font-size: 1.1rem;
}

.copy span {
  color: var(--main-color);
  cursor: pointer;
}

/* copy */

/* Resbonsive */
@media (max-width:1080px) {
  .home-text {
    padding: 0 100px;
  }
}

@media (max-width:991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }

  .home-text {
    padding: 0 4%;
  }

  .home-text h2 {
    font-size: 3rem;
  }
}

@media (max-width:774px) {
  header {
    padding: 12px 4%;
  }

  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }

  header.shadow #menu-icon {
    color: var(--text-color);
  }

  .navbar {
    position: absolute;
    top: -578px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
    text-align: center;
  }

  .navbar a {
    color: var(--text-color);
    transition: 0.3s all linear;
  }

  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }

  .home-text h2 {
    font-size: 2.4rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
  }

  .movies-container,
  .coming-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
}

@media (max-width: 472px) {
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .news form .email {
    display: none;
  }
}

@media (max-width: 370px) {
  header {
    padding: 6px 4%;
  }

  .home-text h2 {
    font-size: 1.7rem;
  }

  .movies-container,
  .coming-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }

  .box .box-img img {
    height: 240px;
  }
}

@media (max-width: 300px) {
  .home-text h2 {
    font-size: 1.2rem;
  }
}

/* Resbonsive */